<BsNavbar 
  @type="dark"
  @backgroundColor="dark"
  @collapsed={{false}}
  as |navbar|>
  <div class="container">
    <div class="navbar-header">
      <LinkTo @route="index" class="navbar-brand">TalkAboutIt</LinkTo>
    </div>
  </div>
</BsNavbar>