<div class="col-sm-12">
  <div class="card border-dark">
    <div class="card-header text-white bg-dark">
      Tweet Name
    </div>
    <div class="card-body">
      <h5 class="card-title">Time</h5>
      <p class="card-text">Content</p>
      <Tweet::Link
        @screenName="derp"
        @idStr="dero"
      >
      View Tweet
      </Tweet::Link>
    </div>
  </div>
</div>