@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap');

/* Body */
body{
  font-family: 'Bai Jamjuree', sans-serif;
  line-height: 1.6;
}

/* Main */
main {
  padding: 2rem 0;
}

/* Card */
.col-sm-12 {
  padding-top: 1rem;
}