@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Body */
body{
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
}

/* Main */
main {
  padding: 2rem 0;
}

/* Card */
.col-sm-12 {
  padding-top: 1rem;
}