{{! Information --}}
<section>
  <h1>TalkAboutIt</h1>
  <p>
    {{! TODO: replace "searched term" with the searched term --}}
    Below will be the twitter feed with the most recent tweets about the searched term.
  </p>
</section>

{{! Tweets --}}
<section class="row">
  <Tweet />
  <Tweet />
  <Tweet />
</section>